In [ ]:
def get_order_cost(meals, drinks):
    return 50 + meals * 20 + drinks * 5
print(get_order_cost(2, 0))
print(get_order_cost(3, 2))
print(get_order_cost(4, 1))

In [ ]:
def get_order_cost(meals, drinks):
    """
    Calculate the total cost of an order based on the number of meals and drinks ordered.
    
    Args:
        meals (int): The number of meals ordered.
        drinks (int): The number of drinks ordered.
        
    Returns:
        int: The total cost of the order in dollars.
        
    Example:
        >>> get_order_cost(2, 0)
        100
        >>> get_order_cost(3, 2)
        165
        >>> get_order_cost(4, 1)
        215
    """
    # Base cost for the order (in dollars)
    base_cost = 50
    
    # Cost per meal (in dollars)
    meal_cost_per_item = 20
    
    # Cost per drink (in dollars)
    drink_cost_per_item = 5
    
    # Calculate total cost by adding base cost, meals cost, and drinks cost
    total_cost = base_cost + (meals * meal_cost_per_item) + (drinks * drink_cost_per_item)
    
    return total_cost

# Test the function with provided examples
print(get_order_cost(2, 0))  # Expected output: 100
print(get_order_cost(3, 2))  # Expected output: 165
print(get_order_cost(4, 1))  # Expected output: 215

In [ ]:
def get_rental_cost(days, kilometers):
    return 100 + days * 200 + kilometers * 1
print(get_rental_cost(3, 150))
print(get_rental_cost(5, 300))

In [ ]:
def get_rental_cost(days, kilometers):
    """
    Calculate the total rental cost based on days and kilometers driven.
    
    The calculation is as follows:
    - A base fee of 100 units.
    - An additional fee of 200 units per day.
    - An additional fee of 1 unit per kilometer driven.

    Args:
        days (int): The number of days the vehicle was rented.
        kilometers (int): The total kilometers driven during the rental period.

    Returns:
        int: The total rental cost in the same units as the fees.
    """
    # Calculate base fee
    total_cost = 100
    
    # Add daily fee based on the number of days
    total_cost += days * 200
    
    # Add kilometer fee based on the distance driven
    total_cost += kilometers * 1
    
    return total_cost

# Example usage:
print(get_rental_cost(3, 150))  # Expected output: 750 (100 + 3*200 + 150*1)
print(get_rental_cost(5, 300))  # Expected output: 1600 (100 + 5*200 + 300*1)

In [ ]:
def get_ticket_cost(tickets, students):
    return tickets * 50 - students * 10
print(get_ticket_cost(1, 1))
print(get_ticket_cost(3, 1))
print(get_ticket_cost(5, 3))

In [ ]:
def get_ticket_cost(tickets, students):
    """
    Calculate the total cost of tickets after applying a student discount.
    
    The function computes the total cost by multiplying the number of 'tickets'
    by 50 (the base ticket price) and then subtracting a discount for each
    'student' present. Each student gets a discount of $10.
    
    Args:
        tickets (int): The number of tickets being purchased.
        students (int): The number of students accompanying the purchaser.
        
    Returns:
        int: The total cost after applying the student discount.
    """
    # Calculate the base cost by multiplying the number of tickets by 50
    base_cost = tickets * 50
    
    # Subtract a discount for each student present
    discounted_cost = base_cost - students * 10
    
    return discounted_cost

# Example usage:
print(get_ticket_cost(1, 1))  # Expected output: 40 (50 - 10)
print(get_ticket_cost(3, 1))  # Expected output: 140 (150 - 10)
print(get_ticket_cost(5, 3))  # Expected output: 220 (250 - 30)

In [ ]:
def calculate_trip_cost(flights, nights, guide_days):
    return 500 + flights * 1000 + nights * 300 + guide_days * 200
print(calculate_trip_cost(2, 5, 3))
print(calculate_trip_cost(3, 4, 1))

In [ ]:
def calculate_trip_cost(flights, nights, guide_days):
    """
    Calculate the total cost of a trip based on the number of flights,
    nights, and days a guide is needed.

    Args:
        flights (int): The number of round-trip flights included in the trip.
        nights (int): The number of nights accommodation will be provided for.
        guide_days (int): The number of days a guide will accompany the group.

    Returns:
        int: The total cost of the trip, calculated as follows:
             - A fixed base cost of 500
             - Add 1000 per flight
             - Add 300 for each night of accommodation
             - Add 200 for each day a guide is needed

    Example:
        >>> calculate_trip_cost(2, 5, 3)
        4600
        >>> calculate_trip_cost(3, 4, 1)
        4200
    """
    # Base cost of the trip
    total_cost = 500
    
    # Add cost for flights
    total_cost += flights * 1000
    
    # Add cost for nights
    total_cost += nights * 300
    
    # Add cost for guide days
    total_cost += guide_days * 200
    
    return total_cost

# Example usage:
print(calculate_trip_cost(2, 5, 3))  # Expected output: 4600
print(calculate_trip_cost(3, 4, 1))  # Expected output: 4200

In [ ]:
def calculate_project_cost(developers, days, features):
    return 1000 + developers * 500 * days + features * 200
print(calculate_project_cost(2, 10, 5))
print(calculate_project_cost(1, 15, 10))
print(calculate_project_cost(3, 7, 0))

In [ ]:
def calculate_project_cost(developers, days, features):
    """
    Calculate the total cost of a software project based on the number of developers,
    the number of days spent, and the number of new features implemented.

    Args:
        developers (int): The number of developers working on the project.
        days (int): The number of days spent on the project.
        features (int): The number of new features implemented in the project.

    Returns:
        int: The total cost of the project in dollars.

    Explanation:
        - A base cost of $1000 is added to cover fixed overhead costs.
        - Each developer contributes an additional $500 per day, so developers * 500 * days are added.
        - Each new feature implemented incurs a cost of $200, so features * 200 are added.

    Example:
        >>> calculate_project_cost(2, 10, 5)
        16000
        >>> calculate_project_cost(1, 15, 10)
        8000
        >>> calculate_project_cost(3, 7, 0)
        4700
    """
    return 1000 + developers * 500 * days + features * 200

# Example usage:
print(calculate_project_cost(2, 10, 5))  # Output: 16000
print(calculate_project_cost(1, 15, 10)) # Output: 8000
print(calculate_project_cost(3, 7, 0))   # Output: 4700